{% load static %}
<footer class="footer-distributed">
    
    <div class="footer-left">
      <h3><img class="logo" src="{% static 'img/cuentos.jpg' %}"></h3>
      <p class="footer-links">
        
        <a href="http://127.0.0.1:8000/">Cuentos</a>
        <a href="http://127.0.0.1:8000/empresas/">Historias</a>
        <a href="http://127.0.0.1:8000/portfolio/">Portfolio</a>
        <a href="http://127.0.0.1:8000/contact/">Contacto</a>
      </p>
      <p class="footer-company-name">CUENTOS S.A. © 2021</p>
    </div>
    
    <div class="footer-center">
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>Calle del sueño</span> El Universo</p>
      </div>
      <div>
        <i class="fa fa-phone"></i>
        <p>+34 123 456 789</p>
      </div>
      <div>
        <i class="fa fa-envelope"></i>
        <p>  [contacto'&#64;'cuentos.es]</p>
      </div>
    </div>
    
    <div class="footer-right">
      <p class="footer-company-about">
        <span>Nuestros Cuentos</span>
        CUENTOS S.A. está pensada para niños y no tan niños que quieren leer y soñar. 
      </p>
      <div class="footer-icons">
        <a href="https://www.facebook.com/pixelblackSL"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/epapiros"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/salcaraz/"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/salcarazp/POO"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </footer>